body {
  background-color: orange;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  margin: 10rem;
}

.container {
  width: 800px;
  margin: 30px auto;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#hour,
#minute,
#second,
b {
  font-size: 2em;
}

button {
  background-color: orange;
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

button:hover {
  background-color: white;
  color: orange;
}
